@font-face{
  font-family: 'karakaze';
  src: url(../fonts/karakaze-M.ttf)
}

@font-face{
  font-family: 'a1';
  src: url(../fonts/A-OTF-A1.otf);
}

*{
  margin:0;
  padding:0;
}

body{
  width: 100vw;
  background: #000000;
}

.container-fluid{
  width: 100vw;
}


.header{
  margin-bottom: 6vh;
  width: 100vw;
  height: 110vh;
}

.header img{
  color: #fff;
  position: absolute;
  z-index: 5;
  width: 100vw;
  top:0;
  left:0;
}

.card{
  border-style: none;
  text-align: center;
  background: #fff;
  padding: 4vh 3vw;
  border: 0.05em solid #e5bd54;
  border-radius: 1rem;
}


.card p{
  font-family: 'karakaze';
  margin-top: 1.5rem;
  margin-bottom: 0;
  font-size: 3rem;
  color: #373434;
}

.underline {
  width: 5rem;
  height: 0.2rem;
  margin: 0 auto;
  background: -webkit-gradient(120deg, #e5bd54, #efaf00, #e0ca82,#efaf00);
  background: -moz-linear-gradient(120deg, #e5bd54, #efaf00, #e0ca82, #efaf00);
  background: linear-gradient(120deg, #e5bd54, #efaf00, #e0ca82, #efaf00);
}

.card button{
  margin: 1vh auto;
  margin-top: 4vh;
  padding: 0.5rem 1.5rem;
  font-family: 'a1';
  font-size: 1rem;
  text-decoration: none;
  color: #eecd6a;
  border: 0.08em solid #eecd6a;
  border-radius: 2rem;
  background: #000000;
}

.card button:hover{
  background: -webkit-gradient(120deg, #e5bd54, #efaf00, #e0ca82,#efaf00);
  background: -moz-linear-gradient(120deg, #e5bd54, #efaf00, #e0ca82, #efaf00);
  background: linear-gradient(120deg, #e5bd54, #efaf00, #e0ca82, #efaf00);
  color: #000000;
  border: 0.08em solid #eecd6a;
}


span{
  margin: 0 0.5rem;
  letter-spacing: 0.5rem;
}

h2{
  font-family: 'a1';
  font-size: 3rem;
  text-align: center !important;
  color: #000000;
}

.modal {
  font-family: 'a1';
  color: #000000;
}

.modal h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

.modal img{
  margin-top: 3rem !important;
}

.message{
  margin: 2rem 0
}

@media screen and (max-width:960px){
  .header{
    background-image: url(../images/mainvisual-sp.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .card{
    margin: 3vh 1vw;
  }
  .header a{
    display: none;
  }
  h1{
    font-size: 2rem;
    margin-top: -15vh;
  }
  .modal img{
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
  }
}

@media screen and (min-width:960px){
  .card{
    margin: 5vh 4vw;
  }
  .header{
    background-image: url(../images/mainvisual.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .header a {
    font-family: 'Red Hat Text', sans-serif;
    position: absolute;
    bottom: 0.3vh;
    right: 5vw;
    z-index: 10;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-decoration: none;
    padding-top: 10vh;
    color: #fff;
  }

  .header a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 1.5s infinite;
    animation: sdb 1.5s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

 .modal img{
   width: 10vw;
   height: 10vw;
   margin: 0 auto;
 }
}
